#top-content-container {
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: #003c8f;
}

html, body {
	background-color: black;
}

#main-logo {
	max-width: 60%;
}

#navbar {
	background-color: #000051;
}

#navbar a {
	color: white;
}

#navbar a.nav-link.active {
	border-radius: 0 !important;
	background-color: white;
	color: black;
	font-weight: bold;
}