#top-content-container {
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: #003c8f;
}

html, body {
	background-color: black;
}

#main-logo {
	max-width: 60%;
}

#navbar {
	background-color: #000051;
	font-style: italic;
}

#navbar a {
	color: white;
}

#navbar a.nav-link.active {
	border-radius: 0 !important;
	background-color: white;
	color: black;
	font-weight: bold;
}

#video-content-embed {
	background-color: #1c1f20;
}

* {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	/*font-style: italic;*/
}

.font-alt, h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: bold;
}

#main-title {
	padding-top: 16px;
	max-width: 80%;
}